body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.boton{
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.boton:hover {
    background-color: #0056b3;
}